.popup__form-item {
    width: 100%;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    color: #000000;
    outline: none;
}

.popup__form-item:first-child {
    margin-top: 0;
}

 .popup__form-item::-webkit-input-placeholder {
    color: #000000;
  }
  
.popup__form-item::-ms-input-placeholder {
    color: #000000;
  }
  
.popup__form-item::-moz-placeholder {
    color: #000000;
    opacity: 1;
  }
  
.popup__form-item::placeholder {
    color: #000000;
  }
  

@media screen and (max-width: 1920px) {
    .popup__form-item {
        margin-top: 30px;
        padding-bottom: 0;
        padding-bottom: 13px;
    }
}